## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A Database is collaction of data that organized and stored in such a that the accessing and management of data would be done in efficient manner
#### Difference between SQL and NoSQL: 
1. SQL uses table structure to store data which is already defined, i.e SQL databases are structured,Whereas  NoSQL databases are unstructures they can store such as key-value format,document or graphs.
2. NoSQL are highly scalable i.e they can handle large amount of data easily than SQL.
3. In SQL all nodes in the database will have the same view of the data at all times. on other hand  in NoSQL invidual nodes may have slightly different views of the data in some situations.
5. SQL is used where data must be in well structured and consistant.NoSQL is used when data need to be highly scalable and flexible

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#### DDL stand for Data Defination language. this statements are used to create,modify,and delete tables in databases.
1. Create is used to create new table or veiws.
2. Drop is used to delete pre-exist table or veiw
3. Alter is used to modify the structure of existing database object
4. Truncate statement is used to delete all the data from an existing table

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Data Manupulation language(DML) is used to modify the data in the database 
1. Insert it is used to add new row to a table  
2. Update is used to modify the data of a table 
3. Delete this statement is used to delete row/s from the table .

## Q4. What is DQL? Explain SELECT with an example.

#### DQL stand for Data Query Language. DQL statements are used to retrive data from the database 
### Select statement is used to retrive data from one or more tables.

## Q5. Explain Primary Key and Foreign Key.

#### primary key 
 it is a column or group of columns which uniquely identifies each row in the table,it helps us to find unique row in the table
#### foreign key
 A column or group of column in a table that refers to primary key of another table is known as foreign key
 
Foreign keys are used to establish a relationship between two tables and enforce referential integrity.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()

1. The execute() method is used to execute a SQL query
2. The fetchall() method is used to get the results of the query as a list of tuples. Each tuple represents a row in the table

## Q7. Give the order of execution of SQL clauses in an SQL query.

SELECT: This clause is used to specify the columns that you want to retrieve from the database. It is executed first in the query.

FROM: This clause is used to specify the table or tables that you want to retrieve data from. It is executed after the SELECT clause.

JOIN: This clause is used to combine data from two or more tables based on a related column between them. It is executed after the FROM clause.

WHERE: This clause is used to specify the conditions that the data must meet in order to be included in the query results. It is executed after the JOIN clause.

GROUP BY: This clause is used to group the query results based on one or more columns. It is executed after the WHERE clause.

HAVING: This clause is used to filter the grouped query results based on a condition. It is executed after the GROUP BY clause.

ORDER BY: This clause is used to sort the query results based on one or more columns. It is executed after the HAVING clause.

LIMIT: This clause is used to limit the number of rows that are returned by the query. It is executed last in the query.