## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [3]:
ser1=pd.Series([1,2,3,4,5,6])

In [4]:
print(ser1)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [9]:
lst=[i for i in range(11)]

In [11]:
print(pd.Series(lst))

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data:

In [12]:
data={"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]}

In [16]:
record=pd.DataFrame(data)

In [19]:
print(record.to_string(index=False))

  Name  Age Gender
 Alice   25 Female
   Bob   30   Male
Claire   27 Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

#### A dataframe is a two dimensional structure that consist of row's ans column's,here each column is pandas series and the rows are indexed by a separate index object. 
#### Whereas we can say series is a one dimesional structure which can store any data type.

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

#### head() and tail(): These functions are used  to view the first and last n rows of a DataFrame. They can be useful to quickly inspect the data.
#### describe(): This function provides statistical information about the data in the DataFrame, such as count, mean, standard deviation, minimum, and maximum values.

In [20]:
print(record.describe())

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

#### Series and DataFrame are muntable in nature i.e we can modify their content

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [26]:
name=pd.Series(['Jack','Ross','Ankit','Aman'])
country=pd.Series(['England','Australia','india','india'])
age=pd.Series([25,32,26,28])
record2={"Name":name,"Age":age,"Country":country}

In [27]:
recordframe=pd.DataFrame(record2)

In [28]:
print(recordframe)

    Name  Age    Country
0   Jack   25    England
1   Ross   32  Australia
2  Ankit   26      india
3   Aman   28      india