## Q1. What is Min-Max scaling, and how is it used in data preprocessing? Provide an example to illustrate its application.

Min-Max scaling is a data processing technique that rescale each feature in the range of 0-1.
this rescaling is done by substracting the minimum value of the feature from each value and then deviding it by the range of the feature.

let's say we have a dataset with features x,y,and,z of any range when we apply min-max scalar to the dataset each value in the dataset will rescaled  to range of [0,1]

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df=sns.load_dataset('titanic')

In [3]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
minmaxscalar=MinMaxScaler()

In [6]:
numeric=df.select_dtypes(include=['int','float'])
scaled_df=pd.DataFrame(minmaxscalar.fit_transform(numeric),columns=numeric.columns)

In [7]:
scaled_df

     survived  pclass       age  sibsp     parch      fare
0         0.0     1.0  0.271174  0.125  0.000000  0.014151
1         1.0     0.0  0.472229  0.125  0.000000  0.139136
2         1.0     1.0  0.321438  0.000  0.000000  0.015469
3         1.0     0.0  0.434531  0.125  0.000000  0.103644
4         0.0     1.0  0.434531  0.000  0.000000  0.015713
..        ...     ...       ...    ...       ...       ...
886       0.0     0.5  0.334004  0.000  0.000000  0.025374
887       1.0     0.0  0.233476  0.000  0.000000  0.058556
888       0.0     1.0       NaN  0.125  0.333333  0.045771
889       1.0     0.0  0.321438  0.000  0.000000  0.058556
890       0.0     1.0  0.396833  0.000  0.000000  0.015127

[891 rows x 6 columns]

## Q2. What is the Unit Vector technique in feature scaling, and how does it differ from Min-Max scaling? Provide an example to illustrate its application.

Unit vector scaling is a technique that rescales each feature to a unit vector. This means that the length of each feature vector is 1. This is done by dividing each feature vector by its magnitude.

The main difference between unit vector scaling and min-max scaling is that unit vector scaling ensures that all features have the same importance, while min-max scaling ensures that all features are on a similar scale.

 let's say we have a dataset of customer data with the following features:

Age
Income
Spending
The age of the customers ranges from 18 to 65, the income ranges from 20,000 to 200,000, and the spending ranges from 1,000 to 10,000.

If we apply unit vector scaling to this dataset, the age of the customers will be rescaled to a unit vector, the income will be rescaled to a unit vector, and the spending will be rescaled to a unit vector.

This will ensure that all features have the same importance, but it will not ensure that all features are on a similar scale. For example, the age of the customers will still have a much larger range than the spending, even after unit vector scaling.

## Q3. What is PCA (Principle Component Analysis), and how is it used in dimensionality reduction? Provide an example to illustrate its application.

Principal component analysis (PCA) is a dimensionality reduction technique that finds a set of orthogonal (uncorrelated) directions in the data that capture the most variance. These directions are called principal components. The first principal component captures the most variance in the data, the second principal component captures the second most variance, and so on.

## Q4. What is the relationship between PCA and Feature Extraction, and how can PCA be used for Feature Extraction? Provide an example to illustrate this concept.

Feature extraction is the process of reducing the number of features in a dataset while preserving as much information as possible. This can be done by selecting a subset of the original features, or by transforming the original features into a new set of features.

PCA can be used for feature extraction by selecting the first few principal components. This will reduce the number of features in the dataset while preserving as much information as possible.

Let's say we have a dataset of images of cats and dogs. We have a dataset of images with the following features:

The color of the fur
The shape of the ears
The length of the tail
The dataset has 1000 images, each with 3 features.

We can apply PCA to the dataset to reduce the number of features. We choose to keep the first two principal components, which capture 90% of the variance in the data.

This means that we can reduce the number of features from 3 to 2 without losing too much information. The two principal components can be used to represent the images of cats and dogs.

## Q5. You are working on a project to build a recommendation system for a food delivery service. The dataset contains features such as price, rating, and delivery time. Explain how you would use Min-Max scaling to preprocess the data.

To use Min-Max scaling on the dataset for the food delivery service, these are the steps:

Import the MinMaxScaler class from the scikit-learn library.

Create a MinMaxScaler object.

Fit the MinMaxScaler object to the dataset.

Transform the dataset using the MinMaxScaler object.

## Q6. You are working on a project to build a model to predict stock prices. The dataset contains many features, such as company financial data and market trends. Explain how you would use PCA to reduce the dimensionality of the dataset.

Import the PCA class from the scikit-learn library.

Create a PCA object.

Fit the PCA object to the dataset.

Transform the dataset using the PCA object.

## Q7. For a dataset containing the following values: [1, 5, 10, 15, 20], perform Min-Max scaling to transform the values to a range of -1 to 1.

In [8]:
df1=pd.DataFrame([1, 5, 10, 15, 20],columns=['values'])
minmaxscalar=MinMaxScaler(feature_range=(-1,1))
minmaxscalar.fit(df1)
scaled_values=minmaxscalar.transform(df1)

In [9]:
scaled_values

array([[-1.        ],
       [-0.57894737],
       [-0.05263158],
       [ 0.47368421],
       [ 1.        ]])

## Q8. For a dataset containing the following features: [height, weight, age, gender, blood pressure], perform Feature Extraction using PCA. How many principal components would you choose to retain, and why?

In [43]:
import numpy as np
import pandas as pd
df2=pd.DataFrame({'height':np.random.randint(140,190,10),
                 'weight':np.random.randint(40,90,10),
                 'gender':np.random.choice(['M','F'],size=10)})
df2

   height  weight gender
0     166      75      F
1     149      50      F
2     143      67      M
3     164      44      M
4     165      81      M
5     149      70      F
6     151      79      M
7     145      63      M
8     142      58      F
9     160      57      M

In [45]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
to_scale=df2[['height','weight']]
scalar=StandardScaler()
scaled=scalar.fit_transform(to_scale)
pca=PCA()
transformed=pca.fit_transform(scaled)

In [46]:
transformed

array([[ 1.63725155,  0.35200173],
       [-1.22032982,  0.52566994],
       [-0.66333669, -0.97858665],
       [-0.40000043,  2.07349922],
       [ 1.92206288, -0.09068684],
       [-0.00782999, -0.68682989],
       [ 0.69567218, -1.07457757],
       [-0.74795941, -0.57820944],
       [-1.28790024, -0.51190035],
       [ 0.07236997,  0.96961984]])