## Q1. What is data encoding? How is it useful in data science?

Data encodind is process of convering the data from one form to another for efficient sorage,transmission and processing 

Data encoding makes the data easier to process.

### use of data encoding in data science
data encoding is useful in training  the algorithms in machine learning algorithm.

as models works only on numerical data so it is important to convert the categorical data into numerical data, this is done by data encoding

## Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

the nominal encoding is a technique of converting the categorical data to numerical data.It is also known as categorical encoding 

OneHOtEncoding is one of the common encoding technique where each category is transformed into a binary vector where only one element is Hot(1) other elenents are cold(0).

let's consider an we have data of an coustomer who have given tip,now we are using this data in owr machine learning algorithms. but there are some colums like sex,time etc.containing categorical data which is not processable to owr model. in this scenario we can yes nominal encoding

for example:

In [1]:
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
df=sns.load_dataset('tips')

In [2]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
encoder=OneHotEncoder()

In [4]:
encoded_field=encoder.fit_transform(df[['sex']]).toarray()   # encoding sex column

In [5]:
encoded_df=pd.DataFrame(encoded_field,columns=encoder.get_feature_names_out())

In [6]:
encoded_df

     sex_Female  sex_Male
0           1.0       0.0
1           0.0       1.0
2           0.0       1.0
3           0.0       1.0
4           1.0       0.0
..          ...       ...
239         0.0       1.0
240         1.0       0.0
241         0.0       1.0
242         0.0       1.0
243         1.0       0.0

[244 rows x 2 columns]

## Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

1. When dealing with categorical variables that have a high number of unique categories (high cardinality), one-hot encoding can result in a large number of columns, which can be computationally expensive and may lead to the curse of dimensionality. In such cases, nominal encoding techniques like label encoding or frequency encoding can be preferred as they reduce the dimensionality by assigning a single numerical value to each category.

2. Ordinal encoding:  ordinal values has ranking among them so creating individual column for each category may not be a good approch. In this situation we can use the nominal encoding which will maintain the order..

## Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.

It will be better to choose One-Hot Encodig technique because :

 1. It ensures that each unique value has its own column, allowing machine learning algorithms to learn and differentiate between different categories effectively.
 2. at it has only 5 unique values only 5 extra columns will be generated so it will not lead to any high dimensionality issue.
 3. Compatibility with Algorithms: One-hot encoding is compatible with a wide range of machine learning algorithms.

## Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.

Number of new columns to be generated after nominal encoding on a categorical data is depend on no of uniqe values in a column if there a n number of unique column n number of new rows will be generated 

in the example we have 2 categorical columns :
suppose frist column has 4 unique values and second column has 5 unique values 

No.of new columns created are 4+5=9

#### Number of new colums that will be created after nominal encodeing depends on number of unique valuesn in each column

## Q6. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.

To transform the categorical data about different types of animals into a format suitable for machine learning algorithms, a suitable encoding technique would be one-hot encoding.

1. for each distinct category seperate column will be created .which will be efficient for model to learn.
2. Compatibility with Algorithms: One-hot encoding is widely supported by various machine learning algorithms. Many algorithms expect numerical inputs and are designed to handle binary-encoded categorical variables effectively. By transforming the categorical data into a binary format, one-hot encoding ensures compatibility and allows the 
3. Flexibility and Generalizability: One-hot encoding is a versatile technique that can handle categorical variables with varying numbers of unique categories. Whether you have a few or many unique categories in your dataset, one-hot encoding can efficiently transform the data into a format suitable for machine learning algorithms. It provides a scalable and generalizable approach to handle categorical data in a wide range of scenarios.

## Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

Here we can use a combination of encoding techniques depending on the nature and characteristics of the categorical features.

there are 5 features among them 2 are categorical features we will use appropriate technique for each categorical feature.

for Gender we can use binary encoding: as age is an binary categorical feature one of the value will be represented by 0 and another with 1.

for contact type we can use One-Hot encoding technique :  Create separate binary columns for each unique category in the contract type feature. Each column will represent a specific contract type, and the presence of 1 in a column indicates the presence of that contract type for a particular customer.
 
 rest of the columns are numeric columns so no need to encode..
 
 By this combination of binary encoding we can conver categorical data to the numerical data .