## Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you might choose one over the other.

1. Ordinal Encoding : Ordinal Encoding assings a unique lable to every unique value in a categorical variable.The lable are assinged a specific order based on their perceived rank or order of importance. Ordinal Encoding preserves the ordinal relationship between categories, implying that it assumes a meaningful order among the labels.
2. Lable Encoding : Label Encoding, on the other hand, simply assigns a unique numerical label to each unique category without considering any specific order or rank.Label Encoding does not imply any inherent order or relationship between the labels.

when an order or heirarchy to be maintained in categorical data then we should use Ordinal Encoding and if there is no need of maintaning any rank among the categorical values we should use Lable Encoding

## Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in a machine learning project.

Target Guided Ordinal Encoding (TGOE) is a feature encoding technique used in machine learning projects to encode categorical variables 

It assigns ordinal numerical values to the categories based on the target variable's mean or median value for each category.

 explanation of how Target Guided Ordinal Encoding works:
 1. Calculate the mean or median value of the target variable for each category in the categorical feature.

2. Sort the categories based on their mean or median value in ascending order.

3. Assign ordinal numerical values to the categories based on their sorted order. The category with the lowest mean or median value gets the lowest ordinal value, and the category with the highest mean or median value gets the highest ordinal value.

4. Replace the original categorical values in the feature column with the corresponding ordinal numerical values.

## Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

Covariance is a statistical measure indicates how changes in one variable are associated with changes in another variable.

 Here are a few reasons why covariance is significant:
 
1. Relationship Assessment: Covariance allows us to determine whether two variables move together (positive covariance) or move in opposite directions (negative covariance). It helps assess the direction of the relationship between variables.
2. Dependency Detection: Covariance helps in identifying the dependency between variables. If the covariance is close to zero, it suggests that the variables are not linearly related and may be independent of each other.

Covariance is calculated using the following formula:

Cov(X, Y) = Σ[(Xᵢ - X̄)(Yᵢ - Ȳ)] / (n - 1)

Where:

Cov(X, Y) represents the covariance between variables X and Y.
Xᵢ and Yᵢ are individual data points in variables X and Y, respectively.
X̄ and Ȳ are the means of variables X and Y, respectively.
n is the number of data points in the variables.

## Q4. For a daColorColortaset with the following categorical variables: Color (red, green, blue), Size (small, medium,large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library. Show your code and explain the output.

In [1]:
import pandas as pd

In [2]:
dataset=pd.DataFrame({"Color":['red', 'green', 'blue'],'Size':['small', 'medium','large'],'Material':['wood','metal','plastic']})

In [3]:
dataset

   Color    Size Material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [4]:
from sklearn.preprocessing import LabelEncoder

In [30]:
encoder=LabelEncoder()
coded_c=encoder.fit_transform(dataset['Color'])
coded_s=encoder.fit_transform(dataset['Size'])
coded_m=encoder.fit_transform(dataset['Material'])

In [31]:
pd.concat([dataset,pd.DataFrame({'encoded_color':coded_c,
                                'encoded_size':coded_s,
                                'encoded_material':coded_m})],axis=1)

   Color    Size Material  encoded_color  encoded_size  encoded_material
0    red   small     wood              2             2                 2
1  green  medium    metal              1             1                 0
2   blue   large  plastic              0             0                 1

## Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education level. Interpret the results.

In [32]:

data = {
    'Age': [30, 40, 25, 35, 45],
    'Income': [50000, 60000, 40000, 55000, 70000],
    'Education Level': [12, 16, 10, 14, 18]
}

dataset = pd.DataFrame(data)
cov_matrix = dataset.cov()

print(cov_matrix)

                     Age       Income  Education Level
Age                 62.5      87500.0             25.0
Income           87500.0  125000000.0          35000.0
Education Level     25.0      35000.0             10.0

## Q6. You are working on a machine learning project with a dataset containing several categorical variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD),and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use foreach variable, and why?

Binary Encoding for the Gender feature which will assign 0 to one value and 1 to the another.

Ordinal Encoding to the feature 'Education Level' that will assign the rank to each category.

and lebal encoding to the feature 'Employee Status'.

## Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/ East/West). Calculate the covariance between each pair of variables and interpret the results.

In [33]:
data = {
    'temperature': [25, 30, 27, 22, 28, 26, 24, 29, 23, 27],
    'humidity': [70, 65, 80, 75, 60, 85, 68, 72, 78, 63],
    'weather_condition': ['Sunny', 'Cloudy', 'Rainy', 'Sunny', 'Cloudy', 'Rainy', 'Sunny', 'Cloudy', 'Rainy', 'Sunny'],
    'wind_direction': ['North', 'West', 'South', 'East', 'North', 'West', 'East', 'South', 'West', 'North']
}

weather=pd.DataFrame(data)

In [49]:
weather

   temperature  humidity weather_condition wind_direction
0           25        70             Sunny          North
1           30        65            Cloudy           West
2           27        80             Rainy          South
3           22        75             Sunny           East
4           28        60            Cloudy          North
5           26        85             Rainy           West
6           24        68             Sunny           East
7           29        72            Cloudy          South
8           23        78             Rainy           West
9           27        63             Sunny          North

In [64]:
weather.cov()

/tmp/ipykernel_77/479002884.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  weather.cov()

             temperature   humidity
temperature     6.766667  -8.066667
humidity       -8.066667  63.377778

1. the covarience between 'temparature' with itself represents the varience of the temprature and same for the humidity
2. the covarience between 'temparature' and 'humidity' is -8.066 that represents the negative covarience that mean as the temparature increases level of humadity decreases.
This interpretation represents the inverse relationship between 'Temperature' and 'Humidity'