## Q1: What are missing values in a dataset? Why is it essential to handle missing values? Name some algorithms that are not affected by missing values.

the absence of value in a one or more than one row or column it is called as missing values in data set. it is due to incomplete surveys or some technical error.

it is important to handle the missing values because it these missing valuse are not handled they can affect the accuracy and reliability of the statistical analysis and machine learning models.

Decision Trees: Decision trees can handle missing values by simply ignoring the missing attribute while splitting the node.

Random Forest: Random Forest is an ensemble learning algorithm that uses multiple decision trees. It can handle missing values in a similar way as decision trees.

K-Nearest Neighbors (KNN): KNN is a non-parametric algorithm that can handle missing values by using distance measures that ignore missing values.

Naive Bayes: Naive Bayes is a probabilistic algorithm that can handle missing values by using probability estimation based on available data.

Support Vector Machines (SVM): SVM can handle missing values by finding the hyperplane that separates the classes using only the available data.

## Q2: List down techniques used to handle missing data. Give an example of each with python code.

1. Deletion technique:

In [1]:
import seaborn as sns

In [3]:
df=sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [20]:
df['age'].dropna().shape

(714,)

In [21]:
df['age'].shape

(891,)

Mean/Mode imputation:

In [22]:
df['mean_age']=df['age'].fillna(df['age'].mean())

In [23]:
df['mean_age']

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: mean_age, Length: 891, dtype: float64

Mode imputation:

In [25]:
df['mode_age']=df['age'].fillna(df['age'].mean())

## Q3: Explain the imbalanced data. What will happen if imbalanced data is not handled?

imbalanced dataset is situation where proportion of different classes in a dataset is not equal.

issue with imbalanced data is that it can lead to overfitting. Since the training data is imbalanced, the model may learn to overemphasize the dominant class and ignore the minority class. As a result, the model may perform poorly on new data, especially when the proportion of classes in the new data is different from that in the training data.

## Q4: What are Up-sampling and Down-sampling? Explain with an example when up-sampling and down-sampling are required.

upsampling is technique where number of samples are increased to balance the dataset. Up-sampling is usefull when number of samples are not sufficient to provide enough information for a model to learn.

on the other hand down-sampling is technique where number of majority class to balance the dataset.his can be useful when the model is overfitting due to the high number of samples in the majority class.

In [28]:
import pandas as pd
import numpy as np

In [30]:
np.random.seed(123)
n_samples=1000
class_0_ratio=0.8
n_class_0=int(1000*class_0_ratio)
n_class_1=n_samples-class_0

In [46]:
class_0=pd.DataFrame({'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
                      'feature2':np.random.normal(loc=0,scale=1,size=n_class_0),
                      'target':[0]*n_class_0})
class_1=pd.DataFrame({'feature1':np.random.normal(loc=2,scale=1,size=n_class_1),
                      'feature2':np.random.normal(loc=2,scale=1,size=n_class_1),
                      'target':[1]*n_class_1})
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [56]:
## upsampling
df_majority=df[df['target']==0]
df_minority=df[df['target']==1]
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True,n_samples=len(df_majority),random_state=43)
df_upsampled=pd.concat([df_majority,df_minority_upsampled])
df_upsampled

     feature1  feature2  target
0   -1.240970 -0.023158       0
1   -0.312947  0.817158       0
2   -0.848947 -0.114684       0
3    2.377953  0.151101       0
4    0.657501  0.364286       0
..        ...       ...     ...
987  2.187654  1.035632       1
890  2.688842  1.434644       1
861  2.872073  2.768760       1
909  0.821980  3.571835       1
819  2.403432  1.824550       1

[1600 rows x 3 columns]

In [60]:
## Downsampling 
df_majority_downsampled=resample(df_majority,replace=False,n_samples=len(df_minority),random_state=42)
df_downsampled=pd.concat([df_minority,df_majority_downsampled])
df_downsampled

     feature1  feature2  target
800  0.709558  1.420166       1
801  0.659486  0.927048       1
802  1.233609  2.877016       1
803  1.691253  2.365602       1
804  1.918255  2.221934       1
..        ...       ...     ...
90   0.248838  0.551986       0
650 -0.114125  0.087095       0
181  0.137109 -0.707814       0
790 -0.917864  0.771613       0
554  0.031060 -0.980190       0

[400 rows x 3 columns]

## Q5: What is data Augmentation? Explain SMOTE.

The data Augmentation is a technique used in machine learning to increase the size of data set by creation additional training examples from the original data.

SMOTE is used to address the problem of imbalanced datasets, where the number of instances of one class is much lower than the other. SMOTE works by generating synthetic examples of the minority class by interpolating between existing instances.

## Q6: What are outliers in a dataset? Why is it essential to handle outliers?

Outliers are the data points that are signifficantly different from other datapoints. they may be greater or smaller than other data points.

it is essential to handle the outliers because:
1. If the outliers are not handled properly, they can significantly skew the results and distort the overall picture of the data.
2. outlier can affect statistical meansure such as mean and statnders deviation 
3. outlier can affect performance of machine learning models which are sensitive to outliers

## Q7: You are working on a project that requires analyzing customer data. However, you notice that some of the data is missing. What are some techniques you can use to handle the missing data in your analysis?

There are several techniques to handle the missing data points.
1. deleting : in the approach we simply delete the row in which there are one or mode missing data points 
2. Imputation: missing valuse are replaced with mean,mode or median value 
3. Model-based imputation: odel-based imputation involves building a statistical model that can be used to estimate missing values. 
4. Multiple imputation: Multiple imputation is a technique that involves creating multiple imputed datasets based on different plausible values for the missing data

## Q8: You are working with a large dataset and find that a small percentage of the data is missing. What are some strategies you can use to determine if the missing data is missing at random or if there is a pattern to the missing data?

Analyze the missingness pattern: One way to determine if there is a pattern to the missing data is to analyze the pattern of missingness. For example, you can examine if certain variables have more missing values than others, if missingness occurs at random times or in specific periods, or if certain groups have more missing values than others.

Impute the missing data: Another strategy to determine the pattern of missing data is to impute the missing data using various imputation methods such as mean imputation, median imputation, or multiple imputations. After imputing the data, you can compare the imputed data with the original data to see if there are any systematic differences in the distributions of the imputed and original data.

Perform hypothesis testing: You can also use hypothesis testing to determine if the missing data is missing at random or if there is a pattern to the missing data. For example, you can perform a chi-square test of independence to examine if there is a relationship between the missingness of one variable and the missingness of another variable.

## Q9: Suppose you are working on a medical diagnosis project and find that the majority of patients in the dataset do not have the condition of interest, while a small percentage do. What are some strategies you can use to evaluate the performance of your machine learning model on this imbalanced dataset?

some stategires to deal with this problem are :
    
Resample the dataset: One approach to balance the dataset is to oversample the minority class or undersample the majority class. Oversampling can be achieved by duplicating the minority class samples or generating new synthetic samples using techniques such as SMOTE (Synthetic Minority Over-sampling Technique). Undersampling can be done by randomly removing samples from the majority class. However, this approach may cause a loss of information.

Penalize the algorithm: Penalizing the algorithm can be another approach to handling the imbalance. In some algorithms such as Random Forest, XGBoost, and Logistic Regression, you can assign higher weights to the minority class or introduce class weights. This will force the algorithm to pay more attention to the minority class during training.

Use ensemble methods: Another approach is to use ensemble methods such as bagging, boosting, or stacking. These methods combine multiple models to improve the overall performance of the model on the imbalanced dataset.

Use cross-validation: Cross-validation can be a useful technique to evaluate the performance of your model on an imbalanced dataset. In particular, stratified cross-validation can ensure that each fold contains a representative proportion of the minority class.

Consider data augmentation: Data augmentation can be useful in generating more data to balance the dataset. For example, in medical diagnosis projects, you could use data augmentation to create synthetic data points that represent different scenarios or variations in the disease condition.

## Q10: When attempting to estimate customer satisfaction for a project, you discover that the dataset is unbalanced, with the bulk of customers reporting being satisfied. What methods can you employ to balance the dataset and down-sample the majority class?

Way to balance the dataset are :
1. downsampling : It involves randomly deleting the samples from the majority class untill its size is not equal to minority class. 
2. upsampling  : It involves creating copies of minority class to match the size if minority class with the sie of majority class.
3. SMOTE : it creates new synthetic samples for the minority class.

## Q11: You discover that the dataset is unbalanced with a low percentage of occurrences while working on a project that requires you to estimate the occurrence of a rare event. What methods can you employ to balance the dataset and up-sample the minority class?

most usefull technique here will be upsampling the minority class 
it can be done by SMOTE which will generate the synthetic samples in minority class.